@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 2
   
   Save your Fork Graphic Design Styles
   Author: Rafael Martinez 
   Date: 11/7/18   

   Filename: sf_effects.css

*/

/* Body Header Styles */
body {
    box-shadow: rgb(51, 51, 51) 10px 10px 50px, rgb(51, 51, 51) -10px 10px 50px;
}

/* What this line of code does is make the shadow around the body of the page. */



/* Navigation Tabs List Styles */
body header nav.tabs {
    background: url(sf_back1.png) center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* What these lines of code do is set the back1 image to the top of the webpage, and also makes it where it does not repeat the image, and also makes the image cover the whole section.  */

body header nav.tabs li {
    transform: perspective(50px) rotateX(20deg);
}

/* What these lines of code do is make it where the tabs for the links perspective is 50px and it rotates the the tabs on its x-axis 20 degrees. */

body header nav.tabs li a:hover {
    background-color: rgb(231, 231, 231);
}

/* Theses lines of code make it where when you hover over the tabs it will change to a white color. */


/* Left Section Styles */
section#left nav.vertical {
    border: 1px solid rgb(20, 167, 170);
    border-radius: 25px;
}

section#left nav.vertical h1 {
    border-radius: 25px 25px 0px 0px;
}

/* What these lines of code do is make the left section of the webpage have rounded edges, and also make it where it sets a blue border around the text.  */



/* Center Article Styles */
section#center article {
    background: radial-gradient(white 30%, rgb(151, 151, 151));
    border: 1px solid rgb(151, 151, 151);
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgb(51, 51, 51);
}

/* What these lines of code do is make the Apple Bavarian Torte image have a rounded border and also puts a radial gradient and box shadow to Apple bavarian Torte image. */





/* Blockquote Styles */
blockquote {
    background-image: url(sf_speech.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: drop-shadow(5px 5px 10px rgb(51, 51, 51));
}

/* What these lines of code do is it put the speech image around the reviewers comments, also it puts a drop shadow around the reviews. */

cite img {
    border-radius: 50%;
}

/* This line of code makes it where the images of the reviewers are now a circle shape rather then a square shape. */